services:
  - type: web
    name: video-downloader
    runtime: node
    plan: free
    buildCommand: |
      npm install --prefix backend && pip install -r requirements.txt
    startCommand: "cd backend && node server.js"
    envVars:
      - key: NODE_ENV
        value: production
